<form method="post" action="{{ path('tag_cours_delete', {'id': tag_cour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag_cour.id) }}">
    <button class="btn">Delete</button>
</form>
