


{% block bodyback %}
    <a href="{{ path('quiz_index') }}"><h1 style="text-align: center">Quiz Liste</h1></a>

    <table class="table" border="2" style="text-align:center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom_quiz</th>

        </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.nomQuiz }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}
